@using ProductsPane.Models;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,700&family=Nova+Round&family=Poppins:wght@400&family=Roboto+Mono:ital,wght@1,300&family=Roboto+Slab&Crimson+Text&family=DM+Sans:wght@500&family=Heebo&family=KoHo:wght@600&family=M+PLUS+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/Styles/productspane.css">
</head>

<body>
    <div class="header">

        <a href="/">SHOP NOW</a>
        <a href="/aboutus">ABOUT US</a>
        <div class="dropdown">
            <button class="dropbtn">CUSTOMER SUPPORT</button>
            <div class="dropdown-content" style="opacity: 1;margin-left: 12px;">
                <a href="/privacy"><i class="fas fa-shield-check"></i>&nbsp;&nbsp; Privacy and Security</a>
                <a href="/contact"><i class="fas fa-user-headset"></i>&nbsp;&nbsp; Contact Us</a>
                <a href="/order"><i class="fas fa-box"></i>&nbsp;&nbsp; Order</a>
                <a href="/shipping"><i class="fas fa-truck"></i>&nbsp;&nbsp; Shipping & Delivery</a>
                <a href="/payment"><i class="fab fa-cc-visa"></i>&nbsp;&nbsp; Payment</a>
                <a href="/return"><i class="fas fa-undo-alt"></i>&nbsp;&nbsp; Return</a>
            </div>
        </div>
        <a href="#">SELL ON BIG BAZAR</a>
       
        <div class="dropdown">
            <button class="dropbtn">MY ACCOUNT</button>
            <div class="dropdown-content" style="opacity: 0.9;margin-left: -30px;">
                <a href="/profile"><i class="far fa-user-circle"></i>&nbsp;&nbsp; Account Info</a>
                <a href="/trackorder/trackorder"><i class="fas fa-truck-moving"></i>&nbsp;&nbsp; Track my Order</a>
                <a href="/logout"><i class="fas fa-sign-out"></i>&nbsp;&nbsp; Logout</a>
            </div>
        </div>
    </div>


    

    <div class="container">
        <div class="banner"><img src="../static/images/image-slider-1.jpg" alt=""></div>
        <div class="search">
            <form action="/searchbar" method="POST">
                <div class="search">
                    <div class="search-bar">
                        <input class="search-input" type="text" name="search" id="search" placeholder="Search">
                    </div>
                    <button class="search-submit" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>
        @foreach (productInfo product in (productInfo[])ViewBag.productlist)
        {
    <form action="/Order/Order" class="product">
        
            <div class="div-hover">

                <div class="picture"><img src=@product.productLink alt=""></div>
                <div class="content">
                    <p style="font-size: 16px; font-family: 'Poppins', sans-serif; margin-top: 3%">


                        <span style="font-family: 'Heebo', sans-serif;font-size:18px; margin-left: 0%;">Product Name: </span>@product.productName<br style="line-height: 2px;">


                        <span style="font-family: 'Heebo', sans-serif; font-size: 18px; margin-left: 0%;">Rent for </span>@product.productDays
                        <span style="font-family: 'Heebo', sans-serif;font-size:18px;">days is: </span>@product.productPrice<br style="line-height: 2px;">

                        <span style="font-family: 'Heebo', sans-serif; font-size: 18px; margin-left: 0%;">Seller Name: </span>@product.sellerName<br style="line-height: 2px;">
                        <span style="font-family: 'Heebo', sans-serif; font-size: 18px; margin-left: 0%;">Seller Rating: </span>@product.sellerRating

                    </p>


                    <br> <br> <button name ="productID" value=@product.productID>Place Order</button>


                </div>

            </div>









            @*{% endfor %}*@
            @*        {% else %}
            <p style="font-size:40px; font-family: 'Poppins', sans-serif; padding-left: 10px;padding-right: 10px; padding-top:30px">
                <b>Products are out of stock</b>
            </p>
            {% endif %}*@

      
    </form>

        }
        </div>
            <script>
                function abc(display_record) {
                    @TempData["product_ID"] = display_record
                }
            </script>

            <div class="footers">
                <footer style="text-align: left;">
                    &copy; Copyright 2021 <span style="color:#ccf2f4; font-size:18px;font-family: 'Heebo', sans-serif;">BIG BAZAAR</span>
                    <span style="padding-left: 990px;">

                        <a href="#">
                            <i style="color: white; font-size:20px;" class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i style="color: white; font-size:20px;" class="fab fa-linkedin"></i>
                        </a>

                        <a href="#">
                            <i style="color: white; font-size:20px" class="fab fa-facebook"></i>
                        </a>

                        <a href="#">
                            <i style="color: white; font-size:20px" class="fab fa-medium"></i>
                        </a>

                    </span>
                </footer>

            </div>


            <script>
                window.onscroll = function () {
                    myFunction()
                };

                var header = document.getElementById("navbar");
                var sticky = header.offsetTop;

                function myFunction() {
                    if (window.pageYOffset > sticky) {
                        header.classList.add("sticky");
                    } else {
                        header.classList.remove("sticky");
                    }
                }
            </script>

</body>

</html>